* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Circular STD', Helvetica, Arial;
  background: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}
